<!-- src/main/resources/applicationContext.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 1) Declare the DBConnectionManager bean -->
    <!-- src\main\java\com\todo\todo_test\db\DBConnectionManager.java -->
    <bean id="dbConnectionManager" class="com.todo.todo_test.db.DBConnectionManager">
        <!-- Example property values; adjust if needed -->
        <property name="url" value="jdbc:mysql://localhost:3306/TodoDB_test"/>
        <property name="username" value="root"/>
        <property name="password" value="fuad"/>
    </bean>

    <!-- 2) Declare the TaskRegistrationServlet bean, using constructor injection -->
    <bean id="taskRegistrationServlet" class="com.todo.todo_test.servlets.TaskRegistrationServlet">
        <constructor-arg ref="dbConnectionManager"/>
    </bean>

</beans>
